﻿/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background: #b6b7bc;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 960px;
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #4b6c9e;
    width: 100%;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#3a4f63;
    width:100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}


/* --- Offices ListView Styles --- */

ul.officers_list 
{
   list-style-type:none;
   width:90%;
   text-indent:0px;
}

ul li.officers_list_item
{
    display:inline;
    float:left;
    margin-right:10px;
    margin-bottom:10px;
    width:400px;
    border:1px solid #ccc;  
    box-shadow:0px 0px 5px #aaa;
    -moz-box-shadow:0px 0px 5px #aaa;
    -webkit-box-shadow:0px 0px 5px #aaa;
    -o-box-shadow:0px 0px 5px #aaa;
}

ul li.officers_list_item img
{
    display:block;
    padding:3px;
    float:left;
    width:150px;
    height:150px;
    box-shadow:0px 0px 3px #ccc;
    -moz-box-shadow:0px 0px 3px #ccc;
    -webkit-box-shadow:0px 0px 3px #ccc;
    -o-box-shadow:0px 0px 3px #ccc;
}

ul li.officers_list_item div
{
    display:block;
    float:right;
    width: 230px;
    text-align:left;
}

ul li.officers_list_item p 
{
    display:block;  
    font-weight:700;  
    margin-bottom:5px;
    line-height:1.2em;
}


/* --- New Feedback Styles --- */

/* Feedback item styles */

.feedback_item
{
    width:97%;
    height:auto;
    border:1px solid #ccc;
    margin:0px;
    margin-bottom:10px;
    padding:10px;
    box-shadow:0px 0px 5px #aaa;
    -moz-box-shadow:0px 0px 5px #aaa;
    -webkit-box-shadow:0px 0px 5px #aaa;
    -o-box-shadow:0px 0px 5px #aaa;
}

.feedback_item p 
{
    margin:3px 0px;
    line-height:1.5em;
    font-weight:600;
    font-size:14px;
    color:#333;
}


.feed_content
{
    display:block;
    float:left;
    border:1px solid #ccc;
    width:98%;
    height:auto;
    max-height:175px;
    overflow:auto;
    text-align:left;
    padding:5px;
    box-shadow:inset 0px 0px 3px #aaa;
    -moz-box-shadow:inset 0px 0px 3px #aaa;
    -webkit-box-shadow:inset 0px 0px 3px #aaa;
    -o-box-shadow:inset 0px 0px 3px #aaa;
    color:#333;
}

.feed_content p 
{
    float:left;
    width:78%;
    display:inline;
    text-align:left;
}

.feed_image
{
    float:right;
    width:150px;
    height:150px;
    display:inline;
    box-shadow:0px 0px 5px #aaa;
    -moz-box-shadow:0px 0px 5px #aaa;
    -webkit-box-shadow:0px 0px 5px #aaa;
    -o-box-shadow:0px 0px 5px #aaa;
}

.feed_details
{
    display:block;
    float:right;
    text-align:right;
    font-size:11px;
    margin:3px 5px;
    color:#000;
    vertical-align:middle;
}

.feed_details img 
{
    display:inline;
    width:16px;
    height:16px;
    vertical-align:sub;
}


.feed_stat
{
    float:left;
    color:#000;
    font-size:11px;
}

.feed_del
{
    float:right;
    margin:3px 5px;
}

/* Map View */
#map_canvas
{
    border:1px solid #ccc;
    margin:10px 0px;
    box-shadow:0px 0px 5px #aaa;
    -moz-box-shadow:0px 0px 5px #aaa;
    -webkit-box-shadow:0px 0px 5px #aaa;
    -o-box-shadow:0px 0px 5px #aaa;
}


/* Sho & DCP Reply */
.reply_panels
{
    margin-top:15px;
}

/* Update Anim */
#UpdateProgress1 {
   background-color:#CF4342;
   color:#fff;
   top:0px;
   left:49%;
   position:fixed;
 }

#UpdateProgress1 img {
   vertical-align:middle;
   margin:2px;
 }